.temp,
.icon {
  float: right;
  color: white;
  font-size: 30px;
  text-shadow: 2px 1px 5px black;
  margin-right: 10px;
}
.container {
  display: flex;
  justify-content: center;
}
.quote {
  /* border: 1px solid black; */
  position: absolute;
  width: 90%;
  margin-left: 5%;
  top: 50%;
  text-shadow: 2px 1px 5px black;
  /* text-align: left; */
  color: white;
  font-size: 25px;
}

.time {
  position: absolute;
  top: 35%;
  left: 50%;
  font-size: 80px;
  text-shadow: 2px 1px 5px black;
  color: white;
}
span {
  font-size: 15px;
  display: block;
  position: relative;
  text-align: center;
  font-style: italic;
}
